In [3]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
import pandas as pd
music_data = pd.read_csv('music.csv')
x = music_data.drop(columns=['gender'])
x

#x sebagai fitur input atau predictor dalam kolom

    age      genre
0    20     HipHop
1    23     HipHop
2    25     HipHop
3    26       Jazz
4    29       Jazz
5    30       Jazz
6    31  Classical
7    33  Classical
8    37  Classical
9    20      Dance
10   21      Dance
11   25      Dance
12   26   Acoustic
13   27   Acoustic
14   30   Acoustic
15   31  Classical
16   34  Classical
17   35  Classical

In [72]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
y = music_data['genre']

model = DecisionTreeClassifier()
model.fit(X, y)
prediction_data = pd.DataFrame([[21, 1], [22, 0]], columns=['age', 'gender'])
prediction = model.predict(prediction_data)
prediction

array(['HipHop', 'Dance'], dtype=object)